/* Common */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  background-color: #ffffff;

  min-width: 1122px;
  min-height: 1750px;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.button {
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: #f4f7f9;
  min-height: 320px;
}
.header li {
  list-style: none;
}
.nav-first__container {
  background-color: #293449;
  height: 42px;
}
/* -first row navigation */
.nav-first__list {
  height: 42px;
  margin-top: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-first__item {
  font-size: 17px;
  line-height: 18px;
  display: inline-flex;
}
.nav-first__item a,
.nav-first__item button {
  color: #ffffff;
  line-height: 42px;
  text-align: center;
  width: 150px;
  height: 42px;
}

/* -- logo */
.nav-first__item .logo__link {
  width: 220px;
  height: 47px;
  padding: 13px 56px 15px 55px;
  display: block;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  line-height: 22px;
}
.nav-first__item .logo__link:hover {
  background-color: #ca2c37;
}
.nav-first__list .logo__link:active {
  background-color: #ba2732;
}

/* --checkout */
.nav-first__item--checkout {
  background-color: #63a63e;
}
.nav-first__item--checkout a {
  text-align: center;
}
.nav-first__item--checkout:hover {
  background-color: #5fbb2d;
}
.nav-first__item--checkout:active {
  background-color: #518534;
}
.nav-first__item--checkout:active a {
  opacity: 0.5;
}

/* --search */
.nav-first__item--search:hover {
  background-color: #212a3a;
}
.nav-first__item--search:active {
  background-color: #ffffff;
}
.nav-first__item--search:active button {
  color: #000000;
}
.nav-first__item--search .search__button {
  text-align: left;
  background: transparent;
  border: none;
  padding: 0;
  padding-left: 49px;
  width: 270px;
}

/* --bookmarks, basket */
.nav-first__item--bookmarks:hover,
.nav-first__item--basket:hover {
  background-color: #212a3a;
}
.nav-first__item--bookmarks:active,
.nav-first__item--basket:active {
  background-color: #161d29;
}
.nav-first__item--bookmarks:active a,
.nav-first__item--basket:active a {
  opacity: 0.5;
}

/* -second row navigation */
.nav-second__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-second__list:first-child {
  margin-left: 52px;
}
.nav-second__list {
  padding: 0;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-second__text {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-top: 3px;
  width: 196px;
}
.nav-second__tel {
  color: #ee3643;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  border: 3px solid #ffffff;
  width: 270px;
}
.nav-second__address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
}
.login__button {
  width: 121px;
}
.registration__button {
  width: 150px;
  margin-left: 5px;
}
.login__button,
.registration__button {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  border: none;
  background: #ffffff;
  border-color: transparent;
  min-height: 45px;
}
.login__button:hover,
.registration__button:hover {
  color: #ee3643;
}
.login__button:active,
.registration__button:active {
  opacity: 0.3;
  color: #000000;
}

/* Построничная навигация */
.nav-pagination__list {
  padding: 0;
  margin-top: 24px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-pagination__item {
  font-size: 17px;
  line-height: 17px;
  display: inline-flex;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}
.nav-pagination__item:hover {
  background-color: #293449;
}
.nav-pagination__item:active {
  background-color: #1d2739;
  box-shadow: inset 0 -5px 0 #1d2739;
}
.nav-pagination__item a {
  color: #ffffff;
  padding: 20px 34px 21px 34px;
}
.nav-pagination__item:active a {
  opacity: 0.5;
}

/* Банеры */
.banner--materials {
  background-color: #ffbf47;
}
.banner--tool {
  background-color: #3bbce3;
}
.banner--technics {
  background-color: #dc91d8;
}
.banner-main--drills {
  background: #000000 url('../img/mb_1.jpg') no-repeat;
}
.banner-main--rotary-hammers {
  background: #000000 url('../img/mb_2.jpg') no-repeat;
}
.banner-main--rotary-hammers {
  display: none;
}
.banner--sale {
  background-color: #8ed78f;
}
.banner--delivery {
  background-color: #ffc047;
}

.banners__container {
  font-family: 'Cuprum', 'Arial', sans-serif;
}
.banner__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.banner__text {
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.banner__text:hover {
  background: rgba(0, 0, 0, 0.2);
}
.banner__text:active {
  background: rgba(0, 0, 0, 0.3);
}
.banner-main__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.banner-main__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

/* О компании */
.sections__container {
  display: flex;
}
.features {
  color: #000000;

  width: 519px;
}
.contacts {
  width: 300px;
  margin-left: 121px;
}
.features_title,
.contacts_title,
.services__title,
.services-description__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
.features_text,
.contacts_text,
.services-description__text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 24px;
}
.features_item {
  font-size: 18px;
  line-height: 20px;
}
.features .more_button,
.contacts .contacts_button {
  font-size: 14px;
  line-height: 18px;
}
.services__container {
  background-color: #f2f6f8;
}
.services_buttons__item {
  list-style: none;
}
.services__button {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  border: none;
}
.services__button--selected {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}
.services__button:not(.services__button--selected):hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}

/* Подвал  */
.footer {
  background-color: #32425c;
}
.footer li {
  list-style: none;
}
.footer .logo__link {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  padding: 20px 41px 25px 41px;
  display: inline-block;
}
.pagination__list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  padding: 0;
}
.pagination__item {
  font-size: 18px;
  line-height: 24px;
}
.pagination__item--logo {
  margin: 0;
  margin-right: 120px;
}
.pagination__item a {
  color: #f1f5f7;
}
.pagination__item a:hover {
  text-decoration: underline;
}
.pagination__item a:active {
  opacity: 0.5;
}
.first-pagination__container .pagination__list {
  margin-top: 0;
}
.second-pagination__container .pagination__item {
  margin-left: 60px;
}
.pagination__list--second a {
  color: #ffda96;
}
.second-pagination__container,
.feedback__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-bottom__container {
  background-color: #293449;
}
.contacts__text {
  width: 325px;
}
.contacts__address,
.contacts__tel {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}
.rights__container {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 288px;
}
.rights__container span,
.contacts__text span {
  display: block;
}
.socials__list {
  display: flex;
  padding: 0;
  padding-left: 20px;
}
.socials__item {
  margin: 0 3px;
}
.socials__item a {
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
}
.socials__item a:hover,
.socials__item a:active {
  background-color: #ee3643;
}
.feedback,
.autor {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}
.feedback a,
.autor a {
  color: #ffd180;
}
.feedback a:hover,
.autor a:hover {
  text-decoration: underline;
}
.feedback a:active,
.autor a:active {
  color: #ee3643;
}

/* Форма обратной связи */
.feedback-popup {
  width: 620px;
  min-height: 430px;
  align-items: center;
}
.success-popup {
  width: 620px;
  min-height: 282px;
}
.feedback-popup,
.success-popup {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5358;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feedback-popup label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}
.feedback-popup__submit {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.feedback-popup__footer,
.success-popup__footer {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 110px;
  display: flex;

  align-items: center;
}
.feedback-popup__footer {
  justify-content: center;
}
.success-popup__footer {
  justify-content: space-evenly;
}
.success-popup__button-close,
.feedback-popup__button-close {
  align-self: flex-end;
}
.map-popup {
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  background-color: #565656;
}
/* Стили для страницы каталога */
/* Шапка */
.nav-second_name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}
.nav-second_name:active {
  opacity: 0.3;
}
.orders__link,
.personal-account__link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
}
.orders__link:hover,
.personal-account__link:hover {
  color: #ee3643;
}
.orders__link:active,
.personal-account__link:active {
  opacity: 0.3;
  color: #32425c;
}

/* Хлебные крошки */
.breadcrumbs__item {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.breadcrumbs__item a {
  color: #000000;
}
/* Основное */
.catalog_title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
/* Фильтры */
.filters fieldset {
  border: none;
}
.filters fieldset:not(:nth-child(3)) {
  border-bottom: 1px solid #f2f6f8;
}
.filters {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: #000000;
  width: 220px;
  margin-right: 21px;
}
.filters__title {
  font-size: 13px;
  background-color: #f7f3ec;
  font-weight: 400;
  min-height: 38px;
  line-height: 38px;
  padding-left: 18px;
  margin: 0;
}
.price__title,
.power__title,
.manufacturer__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.form_filters label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filters__button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.manufacturer__item {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.manufacturer__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.manufacturer__item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
.manufacturer__item:active img {
  opacity: 0.3;
}
/* Каталог */
.breadcrumbs__list {
  display: flex;
  padding: 0;
}
.breadcrumbs__item {
  list-style: none;
  margin: 0 20px;
}
.catalog_title {
  width: 940px;
  padding: 32px 0 30px 32px;
  background-color: #f2f6f8;
}
.content_container {
  display: flex;
}
.right_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.catalog-goods {
  width: 700px;
}
.catalog-goods_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.popular-goods__item,
.catalog-goods_item {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  list-style: none;
  text-align: center;

  width: 218px;
  min-height: 318px;
  margin-bottom: 21px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog-goods_item:not(:nth-child(3n)) {
  margin-right: 22px;
}
.popular-goods__item:hover,
.catalog-goods_item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.popular-goods__title {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.price-old__text {
  color: #999999;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 13px;
}
.price__text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background: url('../img/btn_copy_14.png') no-repeat;
  margin-top: auto;
}
/* Сортировка */
.sort {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #f7f3ec;

  min-height: 38px;
  width: 700px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort__list {
  display: flex;
  margin: 0;
}
.sort__title {
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-left: 19px;
}
.sort__item {
  list-style: none;
}
.sort__item button {
  opacity: 0.3;
  background: transparent;
  border: none;
  text-transform: uppercase;
  border-bottom: 2px dotted #ee3643;
}
.sort__item--bottom button,
.sort__item--top button {
  border-bottom: none;
}
.sort__item--bottom button::before {
  content: '▴';
}
.sort__item--top button::before {
  content: '▾';
}
.sort__item button:hover {
  opacity: 1;
}
.sort__item button:active {
  opacity: 1;
  color: #ee3643;
}
/* Страницы */
.pages__list {
  padding: 0;
  display: flex;
}
.pages__item {
  list-style: none;
  margin-right: 10px;
}
.pages__item button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 12px 17px 12px 17px;
}
.pages__item button:hover {
  border: 1px solid #bdc6ca;
}
.pages__item button:active {
  border: 1px solid #ee3643;
}
/* О товаре */
.about-good {
  background-color: #f2f6f8;
  padding: 37px 0 59px 0;
}
.about-good__title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.about-good__text {
  line-height: 24px;
  font-size: 14px;
}

/* popup окно подтверждения добавления товара в корзину */
.success-popup__text {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.success-popup__link-checkout,
.success-popup__button-continue {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.success-popup__button-continue {
  background-color: #ffffff;
  padding: 0;
  border: 0;
}
.success-popup__button-continue {
  color: #000000;
}
