/* Common */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  background-color: #ffffff;

  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.button {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #ee3643;
  border: none;
  padding: 10px 0;
  display: block;
  border-radius: 2px;
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.container {
  padding: 0 130px;
}

/* Header */
.header {
  background-color: #f4f7f9;
  padding-bottom: 50px;
}
.header li {
  list-style: none;
}
.nav-first__container {
  background-color: #293449;
  display: flex;
}
/* -first row navigation */
.nav-first__list {
  padding: 0;
  margin: 0;
  min-height: 42px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-first__item {
  font-size: 17px;
  display: inline-flex;
  line-height: 42px;
}
.nav-first__item a,
.nav-first__item button {
  color: #ffffff;
  text-align: center;
  width: 150px;
}

/* -- logo */
.header .logo__link {
  width: 220px;
  padding: 13px 0 6px 0;
  display: block;
  box-shadow: 0 5px 0 #b52933;
  background-color: #ee3643;
  text-align: center;
}
.header .logo__link:hover {
  background-color: #ca2c37;
}
.header .logo__link:active {
  background-color: #ba2732;
}

/* --checkout */
.nav-first__item--checkout {
  background-color: #63a63e;
}
.nav-first__item--checkout a {
  text-align: center;
  width: 150px;
}
.nav-first__item--checkout:hover {
  background-color: #5fbb2d;
}
.nav-first__item--checkout:active {
  background-color: #518534;
}
.nav-first__item--checkout:active a {
  opacity: 0.5;
}

/* --search */
.nav-first__item--search:hover {
  background-color: #212a3a;
}
.nav-first__item--search:active {
  background-color: #ffffff;
}
.nav-first__item--search:active button {
  color: #000000;
}
.nav-first__item--search .search__button {
  text-align: left;
  background: transparent;
  border: none;
  padding-left: 49px;
  width: 270px;
  position: relative;
}
.search__button::before {
  content: '';
  width: 17px;
  height: 17px;
  position: absolute;

  background-image: url('../img/icon-search.svg');
  left: 18px;
  opacity: 0.3;
}

/* --bookmarks, basket */
.nav-first__item--bookmarks,
.nav-first__item--basket {
  position: relative;
}

.nav-first__item--bookmarks a::before {
  content: '';
  width: 14px;
  height: 16px;
  position: absolute;

  background-image: url('../img/icon-bookmark.svg');
  left: 18px;
  top: 12px;
  opacity: 0.3;
}
.nav-first__item--bookmarks a {
  padding-left: 16px;
}
.nav-first__item--basket a {
  padding-left: 18px;
}
.nav-first__item--basket a::before {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;

  background-image: url('../img/icon-cart.svg');
  left: 18px;
  top: 12px;
  opacity: 0.3;
}
.nav-first__item--basket-not-empty a {
  padding-left: 23px;
}
.nav-first__item--basket-not-empty {
  background-color: #ee3643;
}
.nav-first__item--bookmarks:hover,
.nav-first__item--basket:hover {
  background-color: #212a3a;
}
.nav-first__item--bookmarks:active,
.nav-first__item--basket:active {
  background-color: #161d29;
}
.nav-first__item--bookmarks:active a,
.nav-first__item--basket:active a {
  opacity: 0.5;
}

/* -second row navigation */
.nav-second__item {
  position: relative;
}
.nav-second__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-second__list:first-child {
  margin-left: 52px;
}
.nav-second__list {
  padding: 0;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-second__text {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-top: 3px;
  width: 197px;
}
.nav-second__tel {
  color: #ee3643;
  font-size: 21px;
  line-height: 40px;
  text-align: center;
  border: 3px solid #ffffff;
  width: 270px;
  padding-left: 25px;
}
.nav-second__tel::before {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;

  background-image: url('../img/icon-phone.svg');
  left: 16px;
  top: 14px;
}
.nav-second__address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
}
.login__button {
  width: 121px;
  padding-left: 25px;
}
.login__button::before {
  content: '';
  width: 20px;
  height: 17px;
  position: absolute;

  background-image: url('../img/icon-login.svg');
  left: 13px;
  top: 14px;
}
.registration__button {
  width: 150px;
  margin-left: 5px;
}
.login__button,
.registration__button {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  border: none;
  background: #ffffff;
  border-color: transparent;
  min-height: 45px;
}
.login__button:hover,
.registration__button:hover {
  color: #ee3643;
}
.login__button:active,
.registration__button:active {
  opacity: 0.3;
  color: #000000;
}
.nav-second_name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  position: relative;
  padding: 12px 67px 12px 47px;
  margin-bottom: 8px;
}
.nav-second_name::before {
  content: '';
  width: 20px;
  height: 18px;
  position: absolute;

  background-image: url('../img/icon-user.svg');
  left: 14px;
  top: 13px;
}
.nav-second_name::after {
  content: '';
  width: 21px;
  height: 17px;
  position: absolute;

  background-image: url('../img/icon-logout.svg');
  right: 10px;
  top: 14px;
}
.nav-second_name:active {
  opacity: 0.3;
}
.orders__link,
.personal-account__link {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 17px;
}
.personal-account__link {
  position: relative;
  margin: 0 12px;
}
.personal-account__link::before {
  content: '·';
  position: absolute;

  left: -20px;
  top: 2px;
  font-size: 36px;
}

.orders__link:hover,
.personal-account__link:hover {
  color: #ee3643;
}
.orders__link:active,
.personal-account__link:active {
  opacity: 0.3;
  color: #32425c;
}

/* -pagination */
.nav-pagination__list {
  padding: 0;
  margin-top: 24px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.nav-pagination__item {
  font-size: 17px;
  line-height: 17px;
  box-shadow: 0 5px 0 #293449;
  background-color: #32425c;
  flex-grow: 1;
}
.nav-pagination__item:hover {
  background-color: #293449;
}
.nav-pagination__item:active {
  background-color: #1d2739;
  box-shadow: 0 5px 0 #1d2739;
}
.nav-pagination__item a {
  color: #ffffff;
  padding: 20px 0 18px 0;
  display: block;
  text-align: center;
}
.nav-pagination__item:active a {
  opacity: 0.5;
}

/* Main */
/* -banners */
.banner--materials {
  background-color: #ffbf47;
}
.banner--tool {
  background-color: #3bbce3;
}
.banner--technics {
  background-color: #dc91d8;
}
.banner-main--drills {
  background: #000000 url('../img/mb_1.jpg') no-repeat;
}
.banner-main--rotary-hammers {
  background: #000000 url('../img/mb_2.jpg') no-repeat;
}
.banner-main--rotary-hammers {
  display: none;
}
.banner--sale {
  background-color: #8ed78f;
}
.banner--delivery {
  background-color: #ffc047;
}
.banners .container {
  font-family: 'Cuprum', 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
}
.banner__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}
.banner__text {
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  margin-left: 2px;
  margin-top: 13px;
}
.banner__text:hover {
  background: rgba(0, 0, 0, 0.2);
}
.banner__text:active {
  background: rgba(0, 0, 0, 0.3);
}
.banner-main__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.banner-main__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.banner {
  width: 300px;
  min-height: 123px;

  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-left: 23px;
}

.banner-vertival_container {
  width: 32%;
}
.banner-main__container {
  margin-bottom: 20px;
  position: relative;
}
.banner-main__container::before {
  content: '';
  width: 22px;
  height: 40px;
  position: absolute;

  background-image: url('../img/icon-left.svg');
  left: 25px;
  top: 114px;
}
.banner-main__container::after {
  content: '';
  width: 22px;
  height: 40px;
  position: absolute;

  background-image: url('../img/icon-right.svg');
  right: 25px;
  top: 114px;
}
.banner-main__container-horizontal {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-main {
  width: 620px;
  min-height: 266px;
  padding: 20px;
}
.banner-main__link {
  width: 195px;
}

/* -about company */
.about-us .container {
  display: flex;
  justify-content: space-between;
}
.about-us {
  padding-top: 50px;
  padding-bottom: 85px;
}
.features {
  color: #000000;
  width: 60%;
}
.contacts {
  width: 32%;
}
.more_button {
  width: 220px;
}
.contacts_button {
  width: 100%;
  margin-top: 40px;
}

.features_title,
.contacts_title {
  margin-top: 30px;
}
.features_title,
.contacts_title,
.services__title,
.services-description__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.features_text,
.contacts_text,
.services-description__text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 24px;
  font-size: 14px;
}
.contacts_text {
  width: 200px;
}
.features :nth-child(3) {
  width: 80%;
}
.services-description {
  display: flex;
}

.services-description p {
  width: 300px;
}

.services-description img {
  position: relative;
  left: -100px;
}
.services-description--guarantee,
.services-description--credit {
  display: none;
}
.features_item {
  font-size: 18px;
  line-height: 38px;
  list-style: none;
  position: relative;
}
.features_item:before {
  content: '';
  width: 25px;
  height: 2px;
  position: absolute;

  background-image: url('../img/dash.png');
  top: 16px;
  left: -40px;
}
.features .more_button,
.contacts .contacts_button {
  font-size: 14px;
  line-height: 18px;
}
/* services */
.services {
  background-color: #f2f6f8;
  padding-top: 38px;
  padding-bottom: 80px;
}

.services_buttons__item {
  list-style: none;
}
.services__button {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #32425c;

  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

  border: none;
  width: 240px;
  padding: 15px 0 16px 0;
  padding-left: 22px;
}
.services__button--selected {
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}
.services__button:not(.services__button--selected):hover {
  box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
  background-color: #293449;
}
.services__switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services_buttons__list {
  padding: 0;
  width: 20%;
}
.services-description {
  width: 70%;
}
.services__text {
  width: 46%;
  font-size: 14px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 24px;
}

/* Breadcrumbs */
.breadcrumbs__item {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 20px;
  position: relative;
  list-style: none;
}

.breadcrumbs__item::after {
  content: '';
  width: 8px;
  height: 12px;
  position: absolute;

  background-image: url('../img/icon-right-small.svg');
  right: 0;
  top: 2px;
}
.breadcrumbs__item--home {
  padding: 0 20px 0 0;
}
.breadcrumbs__item--home a {
  background: url('../img/icon-home.svg') 100% no-repeat;
  width: 15px;
  height: 16px;
  display: block;
}
.breadcrumbs__item a {
  color: #000000;
}
.catalog_title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 30px 0 29px 32px;
  background-color: #f2f6f8;
  width: 940px;
}
/* -filters */
.filters fieldset {
  border: none;
}
.filters fieldset:not(:nth-child(3)) {
  border-bottom: 1px solid #f2f6f8;
}
.filters {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: #000000;
  width: 220px;
  margin-right: 21px;
}
.filters__title {
  font-size: 13px;
  background-color: #f7f3ec;
  font-weight: 400;
  min-height: 38px;
  line-height: 38px;
  padding-left: 18px;
  margin: 0;
}
.price__title,
.power__title,
.manufacturer__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label:before {
  content: ' ';
  display: inline-block;
  margin-right: 12px;
  position: relative;
  width: 23px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  vertical-align: middle;
}
input[type='checkbox']:checked + label:before {
  background-image: url('../img/checkbox-on.svg');
  width: 27px;
}
input[type='radio'] {
  display: none;
}
input[type='radio'] + label:before {
  content: ' ';
  display: inline-block;
  margin-right: 12px;
  position: relative;
  width: 25px;
  height: 25px;
  background-image: url('../img/radio-off.svg');
  vertical-align: middle;
}
input[type='radio']:checked + label:before {
  background-image: url('../img/radio-on.svg');
}
.form_filters label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-top: 17px;
}
.filters__button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}
.manufacturers {
  margin-bottom: 66px;
}
.manufacturer__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
.manufacturer__item {
  width: 220px;
  min-height: 145px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturer__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.manufacturer__item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
.manufacturer__item:active img {
  opacity: 0.3;
}

/* -catalog */
.breadcrumbs__list {
  display: flex;
  padding: 0;
}

.content .container {
  display: flex;
}
.right_container {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.catalog-goods {
  width: 700px;
}
.popular-goods {
  margin-top: 32px;
}
.catalog-goods,
.popular-goods .container {
  color: #000000;
  font-family: 'PT Sans', 'Arial', sans-serif;
}
.catalog-goods_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popular-goods__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  margin-bottom: 0;
}
.popular-goods__item,
.catalog-goods_item {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  list-style: none;
  text-align: center;

  width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  position: relative;
}

.popular-goods__item:hover,
.catalog-goods_item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.section__title-container {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  align-items: center;
  padding: 5px 24px 4px 29px;
}
.catalog-goods_item--new {
  background: #ffffff url('../img/new_flag.png') 50% 50% no-repeat;
  background-size: 200px;
}
.section__title {
  color: #32425c;
  text-transform: uppercase;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}
.manufacturer__link,
.popular-goods__link {
  width: 253px;
  font-size: 14px;
  font-family: 'Cuprum', 'Arial', sans-serif;
}
.catalog-goods__title,
.popular-goods__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 80%;
  margin: 6px auto 6px auto;
}

.price-old__text {
  color: #999999;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-top: 11px;
  margin-bottom: 13px;
}
.price__text {
  color: #ffffff;
  background: url('../img/btn_copy_14.png') no-repeat;

  font-size: 17px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;

  width: 141px;
  min-height: 38px;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-48%);
}
/* -sort */
.sort {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #f7f3ec;

  min-height: 38px;
  width: 700px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sort__list {
  display: flex;
  margin: 0;
}
.sort__title {
  color: #000000;
  font-weight: 400;
  margin: 0;
  margin-left: 19px;
}
.sort__item {
  list-style: none;
}
.sort__item button {
  opacity: 0.3;
  background: transparent;
  border: none;
  text-transform: uppercase;
  border-bottom: 2px dotted #ee3643;
}
.sort__item--bottom button,
.sort__item--top button {
  border-bottom: none;
}
.sort__item--bottom button::before {
  content: '▴';
}
.sort__item--top button::before {
  content: '▾';
}
.sort__item button:hover {
  opacity: 1;
}
.sort__item button:active {
  opacity: 1;
  color: #ee3643;
}
/* -pages */
.pages__list {
  padding: 0;
  display: flex;
}
.pages__item {
  list-style: none;
  margin-right: 10px;
}
.pages__item button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 12px 17px 12px 17px;
}
.pages__item button:hover {
  border: 1px solid #bdc6ca;
}
.pages__item button:active {
  border: 1px solid #ee3643;
}
/* -about good */
.about-good {
  background-color: #f2f6f8;
  padding: 37px 0 59px 0;
}
.about-good__title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.about-good__text {
  line-height: 24px;
  font-size: 14px;
}

/* Footer  */
.footer {
  background-color: #32425c;
}
.footer li {
  list-style: none;
}
.footer .logo__link {
  width: 220px;
  box-shadow: 0 5px 0 #b52933;
  background-color: #ee3643;
  padding: 20px 0;
  text-align: center;
}
.pagination__list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
}
.pagination__item {
  font-size: 18px;
  line-height: 24px;
}
.pagination__item--logo {
  margin: 0;
  margin-right: 120px;
}
.pagination__item a {
  color: #f1f5f7;
}
.pagination__item a:hover {
  text-decoration: underline;
}
.pagination__item a:active {
  opacity: 0.5;
}
.first-pagination__container {
  display: flex;
  justify-content: space-between;
}
.first-pagination__container .pagination__list {
  margin-top: 0;
  width: 59%;
}
.second-pagination__container .pagination__item {
  margin-left: 60px;
}
.pagination__list--second a {
  color: #ffda96;
}
.second-pagination__container,
.feedback__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}
.feedback__container {
  background-color: #293449;
}

.contacts__address,
.contacts__tel {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}
.rights__container {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 288px;
}

.rights__container p,
.contacts__text p {
  margin: 0;
}
.socials__list {
  display: flex;
  padding: 0;
  padding-left: 20px;
}
.socials__item {
  margin: 0 3px;
}
.socials__item a {
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 52px;
}
.socials__item a:hover,
.socials__item a:active {
  background-color: #ee3643;
}
.feedback,
.autor {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}
.feedback a,
.autor a {
  color: #ffd180;
}
.feedback a:hover,
.autor a:hover {
  text-decoration: underline;
}
.feedback a:active,
.autor a:active {
  color: #ee3643;
}

/* Form feedback */
.feedback-popup__form {
  width: 620px;
  min-height: 430px;
  align-items: center;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.feedback-popup__form input,
.feedback-popup__form textarea {
  border: 2px solid #dee3e4;
  padding: 13px 0 15px 16px;
}
.feedback-popup__form input {
  padding: 7px 0 7px 16px;
}

.feedback-popup__form input::placeholder,
.feedback-popup__form textarea {
  color: #a9a9a9;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
}

.success-popup {
  width: 620px;
  min-height: 282px;
  position: relative;
}
.feedback-popup__form,
.success-popup {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5358;
}
.feedback-popup__form label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  display: block;
  margin-bottom: 13px;
}
.feedback-popup__submit {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 460px;
}
.feedback-popup__footer,
.success-popup__footer {
  background-color: #f4f4f4;
  width: 100%;
  min-height: 110px;
  display: flex;

  align-items: center;
}
.feedback-popup__header {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  margin-top: 30px;
}
textarea {
  width: 100%;
  min-height: 114px;
  padding: 13px 0 0 16px;
}
.feedback-popup__main {
  margin: 0 80px;
  margin-bottom: 37px;
}
.feedback-popup__footer {
  justify-content: center;
}

.success-popup__footer {
  justify-content: space-evenly;
}
.success-popup__button-close,
.feedback-popup__button-close,
.map-popup__button-close {
  position: absolute;
  top: 10px;
  right: 9px;
  background: none;
  border: none;
}
.success-popup__button-close::after,
.feedback-popup__button-close::after,
.map-popup__button-close::after {
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;

  background-image: url('../img/icon-close.svg');
  left: -7px;
  top: -2px;
}
.map-popup {
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
  background-color: #565656;
  background-image: url('../img/big_map.png');
  width: 940px;
  min-height: 447px;
  position: relative;
}

/* popup window */
.success-popup__text {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 66px;
  min-height: 66px;
  text-align: center;

  margin-bottom: 49px;
  margin-top: 48px;
  padding-left: 58px;
  position: relative;
}
.success-popup__text::before {
  content: '';
  width: 66px;
  height: 66px;
  position: absolute;
  background-image: url('../img/icon-mark.svg');
  left: 80px;
  top: 0px;
}
.success-popup__link-checkout,
.success-popup__button-continue {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 220px;
}
.success-popup__button-continue {
  background-color: #ffffff;
  padding: 0;
  border: 0;
  padding: 10px 0;
  display: block;
  border-radius: 2px;
}
.success-popup__button-continue {
  color: #000000;
}
